<div class="center">
  <h1>Signup</h1>
</div>

<%= form_for(@user) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>
  <br>
  <%= f.submit "Signup", class: "btn btn-primary" %>
  <h3>OR</h3>
  <div class="google-btn">
    <div class="google-icon-wrapper">
      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
    </div>
    <%= link_to "Signup with Google", '/auth/google_oauth2', class: "btn-text" %>
  </div>

<% end %>