<div class="center">

  <h1>Welcome <%= @user.username %>!</h1>
  <br>
  <h3>You have <%= @user.subscriptions.count %> subscriptions!</h3>
  <br>
  <h3>You're paying $<%= monthly_payment %>/mo.</h3>
  <br>
  <h3>You've made <%= @user.payments.count %> payments!</h3>

  <%= link_to "View Subscriptions", subscriptions_path, class: "btn btn-primary" %>

</div>

