<div class="center">
  <h1>Your Subscriptions</h1>
</div>

<div class="center">
  <div class="underline_overline">
    <h1><b>$<%= monthly_payment %>/mo & $<%= annual_payment %>/yr</b></h1>
  </div>
</div>

<div class="center">
  <%= link_to "Add Subscription", new_subscription_path, class: "btn btn-primary" %>
</div>
<br>

<%= link_to "Back To Index", subscriptions_path %>
,
<%= link_to "Filter By Price", subscriptions_price_path %>

<div class="row">
<% @subscription.each do |s| %>
    <div class="column">
      <div class="card">
        <div class ="container">
          <h2><%= link_to s.name, subscription_path(s) %></h2>
          <p><b>[<%= s.billing.strftime('%m-%d-%Y') %>]</b></p>
          <h2>$<%= s.fee %>/mo</h2>
        </div>
      </div>
   </div>
<% end %>
</div>