<h1>Update Subscription</h1>

<%= form_for(@subscription) do |f| %>

  <%= f.label "Service Name" %>
  <%= f.text_field :name %>

  <%= f.label "Monthly Fee" %>
  <%= f.number_field :fee %>

  <%= f.label :billing %>
  <%= f.date_field :billing%>

  <%= f.submit "Update" %>

<% end %>