<h1>Add Subscription</h1>

<%= form_for(@subscription) do |f| %>

  <%= f.label "Service Name" %>
  <%= f.text_field :name %>

  <%= f.label "Monthly Fee" %>
  <%= f.number_field :fee %>

  <%= f.label :billing %>
  <%= f.date_field :billing, value: Time.now.strftime('%Y-%m-%d')%>

  <%= f.submit "Create" %>

<% end %>