<div class="center">

<h1><%= @subscription.name %> - $<%= @subscription.fee %>/mo</h1>
<h2>Subscription started on <%= @subscription.billing.strftime('%m-%d-%Y') %></h2>

<br>

<%= link_to "Edit", edit_subscription_path, class: "btn btn-default" %>
<%= link_to "Delete", subscription_path(@subscription), class: "btn btn-default", data: {confirm: "Are you sure you want to delete?"}, :method => :delete %>

<%= link_to "Add Payment", new_subscription_payment_path(@subscription), class: "btn btn-default" %>
<%= link_to "View Payments", subscription_payments_path(@subscription), class: "btn btn-default" %>

<br>
<br>
<%= link_to "Back To Subscriptions", subscriptions_path, class: "btn btn-primary" %>
</div>