<!DOCTYPE html>
<html>
  <head>
    <title>MyMo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in?%>
      <%= link_to "Add Subscription", new_subscription_path %>
      <%= link_to "Current Subscriptions", subscriptions_path %>
      <%= link_to "Add Credit Card", new_credit_card_path %>
      <%= link_to "Your Credit Cards", credit_cards_path %>
      <%= link_to "Logout", logout_path, method:'delete' %>

      <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Logout", login_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
